body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

ul {
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
}

li {
  border: 2px solid gray;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  list-style-type: none;
  text-align: center;
  margin: 10px 5px 0;
}

div {
  width: 100%;
}

.light {
  background-color: bisque;
  color: rgba(57, 42, 24, 0.921);
}

.light li {
  background-color: beige;
}

.dark li {
  background-color: inherit;
}

.dark {
  background-color: rgb(35, 26, 14);
  color: rgb(246, 232, 209);
}

.dark #theme-switcher-button {
  background-color: rgb(61, 50, 44);
  color: inherit;
}

#status {
  text-align: center;
  min-height: 20px;
}

p {
  width: 100%;
  text-align: center;
}

#theme-switcher-button {
  margin: 5px;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  border: 2px solid gray;
}

li:hover {
  cursor: pointer;
}