* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a0a23;
  flex-direction: column;
}

#check-btn {
  border-radius: 1.5rem;
  background-color: #5a01a7;
  margin: 1rem 1.5rem;
  padding: 0.5rem 1rem;
}

#check-btn:hover {
  cursor: pointer;
}

#input-container {
  background-color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-size: 1rem;
  border-radius: 2rem;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 5px #012898;
}

#input-container p {
  color: #000;
  margin: 2rem;
  font-size: 1.5em;
}

h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
  width: 100%;
  text-align: center;
}

#container {
  width: 100%;
}

#text-input {
  color: #000;
  width: 60%;
  border-radius: 1.5rem;
  padding: 0.4rem;
}

#result {
  background-color: #FFF;
  display: none;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-size: 1.5rem;
  border-radius: 2rem;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 5px #012898;
  height: 20vh;
  width: 60%;
  margin: 1.5rem 0;
  text-align: center;
  justify-content: center;
}